<div class="row">
    <div class="col-md-12">
        <div class="row">
            <form [formGroup]="formulario" >
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="email-txt">E-mail</label>
                        <input id="email-txt" type="text" formControlName="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="senha-txt">Senha</label>
                        <input id="senha-txt" type="password" formControlName="senha">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>